#header {
    margin-top: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    font-weight: bold;
    color: khaki;
    background-image: url(/Assets/pattern.webp);
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    color: blue;
}

.brush-section h2 {
    background-color: mediumspringgreen;
} 

.frames-section h2 {
    background-color: lightcoral;
}

.paint-section h2 {
    background-color: skyblue;
}