<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Front End Developer - Take Home Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link type="text/css" rel="stylesheet" href="/src/styles/main.css">
</head>
<body>
    <!--Nav Bar-->
    <nav class="nav-bar">
        <img src="/src/assets/logo.png">
        <ul class="menu">
            <a href=""><li>Tour</li></a>
            <a href=""><li>Product</li></a>
            <a href=""><li>Pricing</li></a>
            <a href=""><li>Contact</li></a>
        </ul>
        <button>SIGN UP</button>
    </nav>
    <main>
        <section id="hero">
            <div id="hero-left">
                <h1>Powerful Tagline for Your Product</h1>
                <p>Supporting statement for your product's primary tagline.</p>
                <button>LEARN MORE</button>
            </div>
        </section>
        <section id="primary-benefit">
            <img src="/src/assets/image.png">
            <div id="primary-benefit-right">
                <img src="/src/assets/graph.png">
                <h3>Primary Benefit One</h3>
                <p>Describe a key benefit that your product provides for your customers - and explain the impact it can have.</p>
            </div>
        </section>
        <section id="sub-options">
            <!--Subscription Options-->
            <div id="basic">
                <img src="/src/assets/basic.png">
                <p><strong>BASIC</strong></p>
                <p>Up to 5 users</p>
                <p>Max 200 objects / month</p>
                <p>Unlimited queries</p>
                <p>Unlimited analytics</p>
                <hr>
                <div class="pricing">
                    <h3>$59</h3>
                    <p>per month</p>
                </div>
                <button>GET STARTED</button>
            </div>
            <div id="optimum">
                <img src="/src/assets/optimum.png">
                <p><strong>OPTIMUM</strong></p>
                <p>Up to 15 users</p>
                <p>Max 400 objects / month</p>
                <p>Unlimited queries</p>
                <p>Unlimited analytics</p>
                <hr>
                <div class="pricing">
                    <h3>$59</h3>
                    <p>per month</p>
                </div>
                <button>GET STARTED</button>
            </div>
            <div id="full">
                <img src="/src/assets/full.png">
                <p><strong>FULL</strong></p>
                <p>Up to 50 users</p>
                <p>Unlimited objects</p>
                <p>Unlimited queries</p>
                <p>Unlimited analytics</p>
                <hr>
                <div class="pricing">
                    <h3>$59</h3>
                    <p>per month</p>
                </div>
                <button>GET STARTED</button>
            </div>
        </section>
    </main>
</body>
</html>