@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');
* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    font-family: 'Kiwi Maru', serif;
}

.body {
    background-image: url(../assets/images/park-bench.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.body:before {
    content: " ";
    background-color: lightgreen;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;

    background-position: 50% 0;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.grid-container #statement {
    grid-column: 1/2;
    grid-row: 1;
}

.grid-container #products {
    grid-column: 2/2;
    grid-row: 1;
}

.grid-container #staff {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.grid-container #contact {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.navbar {
    padding: .5em 0em;

    text-align: center;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar a:hover {
    color: blue;
}

header {
    padding-bottom: 1rem;
    background-color: lightgreen;

    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#statement {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#products {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: .5em;
    padding-top: 1em;
}

#products img {
    width: auto;
    height: 200px;
    width: 200px;
}

.items {
    flex-grow: 1;
    width: 50%;
}

.items p {
    font-weight: 700;
    font-size: 1.1em;
    text-align: center;
    width: auto;
}

#staff {
    background-color: lightgreen;

    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

form {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

input[type=text],input[type=email],textarea {
    border: none;
}

input[type=text]:focus,input[type=email]:focus,textarea:focus {
    background-color: lightgreen;
    border: none;
}

#footer {
    position: relative;
}

button {
    margin-top: 1em;
}

@media only screen and (max-width: 800px) {
    .items {
        width: auto;
    }
    #products img {
        padding: 0em 3em;
    }
}