.plugin-image-hover {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.plugin-image-hover img {
  cursor: pointer;
}

.plugin-image-hover:hover .plugin-image-hover-text {
  display: block;
}

.plugin-image-hover-text {
  background: white;
  border: 1px solid #d2d2d2;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  display: none;
  width: 150px;
  max-height: 100%;
  overflow-y: scroll;
  padding: 1em;
  position: absolute;
  top: 0;
  left: 100%;
}
