@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* Universal Styling */
/* I am taking advantages of Variables and a few other features that
SASS includes */
body {
  font: 100% "Open Sans", sans-serif;
  color: #333;
}
body a {
  color: #333;
}
body a li {
  cursor: pointer;
}
body button {
  background-color: #333;
  color: #FFF;
  border-radius: 3px;
  border: none;
  text-align: center;
  padding: 5px 20px;
  font: 80% "Open Sans", sans-serif;
  cursor: pointer;
}

/* Navigation Bar Styling */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #6d6d6d;
  padding-bottom: 10px;
}
.nav-bar img {
  width: 6em;
}
.nav-bar .menu {
  display: inline-flex;
  width: 60%;
  align-content: center;
  justify-content: space-evenly;
}
.nav-bar .menu a {
  text-decoration: none;
}
.nav-bar .menu a li {
  display: inline;
  font-weight: bold;
}
.nav-bar button {
  padding: 5px 30px;
}

/* Hero/Main Styling */
body {
  padding: 0em 3em;
}

#hero {
  display: flex;
  padding: 5em 2em;
  margin: auto;
  border-bottom: 1px solid #6d6d6d;
}
#hero #hero-left {
  width: 40%;
}

/* Primary Benefit Styling */
#primary-benefit {
  display: flex;
  padding: 3em 3em;
  margin-bottom: 1em;
}
#primary-benefit img {
  width: 40%;
}
#primary-benefit #primary-benefit-right {
  padding: 0em 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#primary-benefit #primary-benefit-right img {
  width: 25%;
}

/* Subscription Options Styling */
#sub-options {
  display: flex;
  justify-content: space-evenly;
}
#sub-options #basic {
  text-align: center;
  padding: 2em;
  border: 4px solid lightgrey;
  border-radius: 10px;
}
#sub-options #basic img {
  margin-top: -5em;
}
#sub-options #optimum {
  text-align: center;
  padding: 2em;
  border: 4px solid lightgrey;
  border-radius: 10px;
}
#sub-options #optimum img {
  margin-top: -5em;
}
#sub-options #full {
  text-align: center;
  padding: 2em;
  border: 4px solid lightgrey;
  border-radius: 10px;
}
#sub-options #full img {
  margin-top: -5em;
}
#sub-options .pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub-options .pricing h3 {
  font-size: 28px;
}
#sub-options .pricing p {
  margin-left: 5px;
}

/* Media Styling */
@media only screen and (max-width: 450px) {
  body {
    padding: 0em 0em;
  }

  .nav-bar {
    flex-wrap: wrap;
  }
  .nav-bar .menu {
    padding: 0em 0em 0em 0em;
  }
  .nav-bar .menu a {
    padding: 5px;
  }
  .nav-bar .menu a li {
    font-size: 13px;
  }
  .nav-bar button {
    padding: 4px 10px;
  }

  #hero {
    padding: 2em 1em;
  }

  #primary-benefit {
    padding: 1em 0em;
  }
  #primary-benefit img {
    width: 50%;
  }

  #sub-options {
    flex-direction: column;
    padding-top: 2em;
  }
  #sub-options #optimum {
    margin-top: 3em;
  }
  #sub-options #full {
    margin-top: 3em;
  }
}

/*# sourceMappingURL=main.css.map */
